@model MenuModel
@{
    ViewData["Title"] = "Oasis";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Меню - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="info-container">
        <h2 class="page-title">Меню</h2>
        <div class="black-splitter"></div>
        
        <div class="menu">
            <ul class="menu-section-container">
                @foreach (var item in Model.typesToSections) {
                        <li><a asp-controller="Menu" asp-action="Index" asp-route-section="@item.Value" asp-route-type="@item.Value" class="menu-section">@item.Key</a></li>
                }
            </ul>
            <div class="menu-field">

                
                @foreach (var item in Model.menuPositions) {
                    <div class="card-container">
                        <div class="card">
                            <img src=data:image/jpg;base64,@item.Photo class="img-pos">
                            <h1>@item.Name</h1>
                            <span class="position-description">@item.Decription</span>
                            <div class="position-price">@item.Price руб.</div>
                        </div>
                    </div>
                }                
            </div>
        </div>
    </div>
</body>
</html>
